.light {
  --md-sys-color-primary-palette-key-color: #8557F6;
  --md-sys-color-secondary-palette-key-color: #9060C7;
  --md-sys-color-tertiary-palette-key-color: #C05178;
  --md-sys-color-neutral-palette-key-color: #836E99;
  --md-sys-color-neutral-variant-palette-key-color: #876BA5;
  --md-sys-color-error-palette-key-color: #DB365A;
  --md-sys-color-background: #FDF3FF;
  --md-sys-color-on-background: #38264C;
  --md-sys-color-surface: #FDF3FF;
  --md-sys-color-surface-dim: #E5CAFF;
  --md-sys-color-surface-bright: #FDF3FF;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F9ECFF;
  --md-sys-color-surface-container: #F3E2FF;
  --md-sys-color-surface-container-high: #EFDBFF;
  --md-sys-color-surface-container-highest: #EBD4FF;
  --md-sys-color-on-surface: #38264C;
  --md-sys-color-surface-variant: #EBD4FF;
  --md-sys-color-on-surface-variant: #67537C;
  --md-sys-color-outline: #836E99;
  --md-sys-color-outline-variant: #BBA4D2;
  --md-sys-color-inverse-surface: #16052A;
  --md-sys-color-inverse-on-surface: #AB94C1;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #6935D9;
  --md-sys-color-primary: #6935D9;
  --md-sys-color-primary-dim: #5D24CC;
  --md-sys-color-on-primary: #F7F0FF;
  --md-sys-color-primary-container: #AC8EFF;
  --md-sys-color-on-primary-container: #2A006F;
  --md-sys-color-primary-fixed: #AC8EFF;
  --md-sys-color-primary-fixed-dim: #A07CFF;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #350087;
  --md-sys-color-inverse-primary: #9E79FF;
  --md-sys-color-secondary: #7343A9;
  --md-sys-color-secondary-dim: #67369C;
  --md-sys-color-on-secondary: #FAEFFF;
  --md-sys-color-secondary-container: #E3C6FF;
  --md-sys-color-on-secondary-container: #5E2D93;
  --md-sys-color-secondary-fixed: #E3C6FF;
  --md-sys-color-secondary-fixed-dim: #D9B5FF;
  --md-sys-color-on-secondary-fixed: #4A147E;
  --md-sys-color-on-secondary-fixed-variant: #68379D;
  --md-sys-color-tertiary: #9D365D;
  --md-sys-color-tertiary-dim: #8E2951;
  --md-sys-color-on-tertiary: #FFEFF1;
  --md-sys-color-tertiary-container: #FF8EB2;
  --md-sys-color-on-tertiary-container: #640432;
  --md-sys-color-tertiary-fixed: #FF8EB2;
  --md-sys-color-tertiary-fixed-dim: #F67CA4;
  --md-sys-color-on-tertiary-fixed: #380018;
  --md-sys-color-on-tertiary-fixed-variant: #70103A;
  --md-sys-color-error: #B41340;
  --md-sys-color-error-dim: #A20036;
  --md-sys-color-on-error: #FFEFEF;
  --md-sys-color-error-container: #F74B6D;
  --md-sys-color-on-error-container: #510017;
  --md-sys-color-control-activated: #AC8EFF;
  --md-sys-color-control-normal: #67537C;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #AB94C1;
  --md-sys-color-text-secondary-and-tertiary-inverse: #D9BAFA;
  --md-sys-color-text-primary-inverse-disable-only: #EFDBFF;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #EFDBFF;
  --md-sys-color-text-hint-inverse: #EFDBFF;
  --md-sys-color-widget-background: #F9ECFF;
  --md-sys-color-clock-hour: #542188;
  --md-sys-color-clock-minute: #622CD2;
  --md-sys-color-clock-second: #A13960;
  --md-sys-color-weather-temp: #6C39DC;
  --md-sys-color-theme-app: #8D5FFF;
  --md-sys-color-on-theme-app: #000000;
  --md-sys-color-theme-app-ring: #8354F4;
  --md-sys-color-theme-notif: #FFB1C7;
  --md-sys-color-brand-a: #6733D7;
  --md-sys-color-brand-b: #C795FF;
  --md-sys-color-brand-c: #8354F4;
  --md-sys-color-brand-d: #D7648C;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #E9DDFF;
  --md-sys-color-on-shade-active: #7241E2;
  --md-sys-color-on-shade-active-variant: #5312C4;
  --md-sys-color-shade-inactive: #3A284E;
  --md-sys-color-on-shade-inactive: #EFDBFF;
  --md-sys-color-on-shade-inactive-variant: #D9BAFA;
  --md-sys-color-shade-disabled: #16052A;
  --md-sys-color-overview-background: #D9BAFA;
}
.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #8557F6;
  --md-sys-color-secondary-palette-key-color: #9060C7;
  --md-sys-color-tertiary-palette-key-color: #C05178;
  --md-sys-color-neutral-palette-key-color: #836E99;
  --md-sys-color-neutral-variant-palette-key-color: #876BA5;
  --md-sys-color-error-palette-key-color: #DB365A;
  --md-sys-color-background: #FDF3FF;
  --md-sys-color-on-background: #28173C;
  --md-sys-color-surface: #FDF3FF;
  --md-sys-color-surface-dim: #E5CAFF;
  --md-sys-color-surface-bright: #FDF3FF;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F9ECFF;
  --md-sys-color-surface-container: #F3E2FF;
  --md-sys-color-surface-container-high: #EFDBFF;
  --md-sys-color-surface-container-highest: #EBD4FF;
  --md-sys-color-on-surface: #28173C;
  --md-sys-color-surface-variant: #EBD4FF;
  --md-sys-color-on-surface-variant: #4A375E;
  --md-sys-color-outline: #67537C;
  --md-sys-color-outline-variant: #836E99;
  --md-sys-color-inverse-surface: #16052A;
  --md-sys-color-inverse-on-surface: #D4BBEB;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #4B00B9;
  --md-sys-color-primary: #4B00B9;
  --md-sys-color-primary-dim: #3F009C;
  --md-sys-color-on-primary: #DCCCFF;
  --md-sys-color-primary-container: #8354F4;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #8354F4;
  --md-sys-color-primary-fixed-dim: #7645E6;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #A989FF;
  --md-sys-color-secondary: #55238A;
  --md-sys-color-secondary-dim: #4A147E;
  --md-sys-color-on-secondary: #E5C9FF;
  --md-sys-color-secondary-container: #8E5DC4;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #8E5DC4;
  --md-sys-color-secondary-fixed-dim: #8150B7;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #781740;
  --md-sys-color-tertiary-dim: #690935;
  --md-sys-color-on-tertiary: #FFC5D4;
  --md-sys-color-tertiary-container: #BD4F76;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #BD4F76;
  --md-sys-color-tertiary-fixed-dim: #AD4269;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #83002A;
  --md-sys-color-error-dim: #6E0022;
  --md-sys-color-on-error: #FFC6CA;
  --md-sys-color-error-container: #D73357;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #8354F4;
  --md-sys-color-control-normal: #4A375E;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #D4BBEB;
  --md-sys-color-text-secondary-and-tertiary-inverse: #D9BAFA;
  --md-sys-color-text-primary-inverse-disable-only: #EFDBFF;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #EFDBFF;
  --md-sys-color-text-hint-inverse: #EFDBFF;
  --md-sys-color-widget-background: #F9ECFF;
  --md-sys-color-clock-hour: #360066;
  --md-sys-color-clock-minute: #4500AA;
  --md-sys-color-clock-second: #000000;
  --md-sys-color-weather-temp: #000000;
  --md-sys-color-theme-app: #8D5FFF;
  --md-sys-color-on-theme-app: #000000;
  --md-sys-color-theme-app-ring: #8354F4;
  --md-sys-color-theme-notif: #FFB1C7;
  --md-sys-color-brand-a: #4C00BB;
  --md-sys-color-brand-b: #A573DC;
  --md-sys-color-brand-c: #5D25CD;
  --md-sys-color-brand-d: #B3476E;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #E9DDFF;
  --md-sys-color-on-shade-active: #5515C5;
  --md-sys-color-on-shade-active-variant: #5312C4;
  --md-sys-color-shade-inactive: #3A284E;
  --md-sys-color-on-shade-inactive: #EFDBFF;
  --md-sys-color-on-shade-inactive-variant: #D9BAFA;
  --md-sys-color-shade-disabled: #16052A;
  --md-sys-color-overview-background: #D9BAFA;
}
.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #8557F6;
  --md-sys-color-secondary-palette-key-color: #9060C7;
  --md-sys-color-tertiary-palette-key-color: #C05178;
  --md-sys-color-neutral-palette-key-color: #836E99;
  --md-sys-color-neutral-variant-palette-key-color: #876BA5;
  --md-sys-color-error-palette-key-color: #DB365A;
  --md-sys-color-background: #FDF3FF;
  --md-sys-color-on-background: #000000;
  --md-sys-color-surface: #FDF3FF;
  --md-sys-color-surface-dim: #E5CAFF;
  --md-sys-color-surface-bright: #FDF3FF;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F9ECFF;
  --md-sys-color-surface-container: #F3E2FF;
  --md-sys-color-surface-container-high: #EFDBFF;
  --md-sys-color-surface-container-highest: #EBD4FF;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #EBD4FF;
  --md-sys-color-on-surface-variant: #28173C;
  --md-sys-color-outline: #4A375E;
  --md-sys-color-outline-variant: #5A466E;
  --md-sys-color-inverse-surface: #16052A;
  --md-sys-color-inverse-on-surface: #FFFFFF;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #270067;
  --md-sys-color-primary: #270067;
  --md-sys-color-primary-dim: #1B004D;
  --md-sys-color-on-primary: #DCCDFF;
  --md-sys-color-primary-container: #5C22CB;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #5C22CB;
  --md-sys-color-primary-fixed-dim: #5005C0;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #CEBAFF;
  --md-sys-color-secondary: #30005B;
  --md-sys-color-secondary-dim: #220044;
  --md-sys-color-on-secondary: #E5CAFF;
  --md-sys-color-secondary-container: #66359B;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #66359B;
  --md-sys-color-secondary-fixed-dim: #59288E;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #460020;
  --md-sys-color-tertiary-dim: #330016;
  --md-sys-color-on-tertiary: #FFC5D4;
  --md-sys-color-tertiary-container: #8C2850;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #8C2850;
  --md-sys-color-tertiary-fixed-dim: #7D1C44;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #470013;
  --md-sys-color-error-dim: #34000C;
  --md-sys-color-on-error: #FFC6CB;
  --md-sys-color-error-container: #A00035;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #5C22CB;
  --md-sys-color-control-normal: #28173C;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #FFFFFF;
  --md-sys-color-text-secondary-and-tertiary-inverse: #D9BAFA;
  --md-sys-color-text-primary-inverse-disable-only: #EFDBFF;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #EFDBFF;
  --md-sys-color-text-hint-inverse: #EFDBFF;
  --md-sys-color-widget-background: #F9ECFF;
  --md-sys-color-clock-hour: #000000;
  --md-sys-color-clock-minute: #22005D;
  --md-sys-color-clock-second: #670734;
  --md-sys-color-weather-temp: #3D0099;
  --md-sys-color-theme-app: #8D5FFF;
  --md-sys-color-on-theme-app: #000000;
  --md-sys-color-theme-app-ring: #7241E2;
  --md-sys-color-theme-notif: #FFB1C7;
  --md-sys-color-brand-a: #36008A;
  --md-sys-color-brand-b: #8656BC;
  --md-sys-color-brand-c: #5414C4;
  --md-sys-color-brand-d: #9B345B;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #E9DDFF;
  --md-sys-color-on-shade-active: #330082;
  --md-sys-color-on-shade-active-variant: #330082;
  --md-sys-color-shade-inactive: #3A284E;
  --md-sys-color-on-shade-inactive: #FFFFFF;
  --md-sys-color-on-shade-inactive-variant: #F6E7FF;
  --md-sys-color-shade-disabled: #16052A;
  --md-sys-color-overview-background: #D9BAFA;
}
.dark {
  --md-sys-color-primary-palette-key-color: #8557F6;
  --md-sys-color-secondary-palette-key-color: #9060C7;
  --md-sys-color-tertiary-palette-key-color: #C05178;
  --md-sys-color-neutral-palette-key-color: #836E99;
  --md-sys-color-neutral-variant-palette-key-color: #876BA5;
  --md-sys-color-error-palette-key-color: #DB365A;
  --md-sys-color-background: #16052A;
  --md-sys-color-on-background: #F1DFFF;
  --md-sys-color-surface: #16052A;
  --md-sys-color-surface-dim: #16052A;
  --md-sys-color-surface-bright: #391E58;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #1D0832;
  --md-sys-color-surface-container: #240E3B;
  --md-sys-color-surface-container-high: #2B1344;
  --md-sys-color-surface-container-highest: #32194E;
  --md-sys-color-on-surface: #F1DFFF;
  --md-sys-color-surface-variant: #32194E;
  --md-sys-color-on-surface-variant: #B9A2D0;
  --md-sys-color-outline: #826D97;
  --md-sys-color-outline-variant: #534067;
  --md-sys-color-inverse-surface: #FFF7FF;
  --md-sys-color-inverse-on-surface: #604D75;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #B99FFF;
  --md-sys-color-primary: #B99FFF;
  --md-sys-color-primary-dim: #8354F4;
  --md-sys-color-on-primary: #38008D;
  --md-sys-color-primary-container: #AC8EFF;
  --md-sys-color-on-primary-container: #2A006F;
  --md-sys-color-primary-fixed: #AC8EFF;
  --md-sys-color-primary-fixed-dim: #A07CFF;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #350087;
  --md-sys-color-inverse-primary: #6C3ADC;
  --md-sys-color-secondary: #BF8CF7;
  --md-sys-color-secondary-dim: #B987F2;
  --md-sys-color-on-secondary: #380069;
  --md-sys-color-secondary-container: #5D2C92;
  --md-sys-color-on-secondary-container: #E2C5FF;
  --md-sys-color-secondary-fixed: #E3C6FF;
  --md-sys-color-secondary-fixed-dim: #D9B5FF;
  --md-sys-color-on-secondary-fixed: #4A147E;
  --md-sys-color-on-secondary-fixed-variant: #68379D;
  --md-sys-color-tertiary: #FF97B7;
  --md-sys-color-tertiary-dim: #FC81AA;
  --md-sys-color-on-tertiary: #6A0936;
  --md-sys-color-tertiary-container: #FC81AA;
  --md-sys-color-on-tertiary-container: #59002B;
  --md-sys-color-tertiary-fixed: #FF8EB2;
  --md-sys-color-tertiary-fixed-dim: #F67CA4;
  --md-sys-color-on-tertiary-fixed: #380018;
  --md-sys-color-on-tertiary-fixed-variant: #70103A;
  --md-sys-color-error: #FF6E84;
  --md-sys-color-error-dim: #D73357;
  --md-sys-color-on-error: #490013;
  --md-sys-color-error-container: #A70138;
  --md-sys-color-on-error-container: #FFB2B9;
  --md-sys-color-control-activated: #AC8EFF;
  --md-sys-color-control-normal: #B9A2D0;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #604D75;
  --md-sys-color-text-secondary-and-tertiary-inverse: #553B72;
  --md-sys-color-text-primary-inverse-disable-only: #241338;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #241338;
  --md-sys-color-text-hint-inverse: #241338;
  --md-sys-color-widget-background: #450D7A;
  --md-sys-color-clock-hour: #CFBCFF;
  --md-sys-color-clock-minute: #E9DDFF;
  --md-sys-color-clock-second: #FFD9E2;
  --md-sys-color-weather-temp: #CFBCFF;
  --md-sys-color-theme-app: #BC8AF4;
  --md-sys-color-on-theme-app: #1A004A;
  --md-sys-color-theme-app-ring: #8354F4;
  --md-sys-color-theme-notif: #AD4269;
  --md-sys-color-brand-a: #CFBCFF;
  --md-sys-color-brand-b: #FFF7FF;
  --md-sys-color-brand-c: #A17DFF;
  --md-sys-color-brand-d: #FFD9E2;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #E9DDFF;
  --md-sys-color-on-shade-active: #22005D;
  --md-sys-color-on-shade-active-variant: #5312C4;
  --md-sys-color-shade-inactive: #3A284E;
  --md-sys-color-on-shade-inactive: #BD9FDD;
  --md-sys-color-on-shade-inactive-variant: #D9BAFA;
  --md-sys-color-shade-disabled: #16052A;
  --md-sys-color-overview-background: #61477E;
}
.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #8557F6;
  --md-sys-color-secondary-palette-key-color: #9060C7;
  --md-sys-color-tertiary-palette-key-color: #C05178;
  --md-sys-color-neutral-palette-key-color: #836E99;
  --md-sys-color-neutral-variant-palette-key-color: #876BA5;
  --md-sys-color-error-palette-key-color: #DB365A;
  --md-sys-color-background: #16052A;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #16052A;
  --md-sys-color-surface-dim: #16052A;
  --md-sys-color-surface-bright: #391E58;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #1D0832;
  --md-sys-color-surface-container: #240E3B;
  --md-sys-color-surface-container-high: #2B1344;
  --md-sys-color-surface-container-highest: #32194E;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #32194E;
  --md-sys-color-on-surface-variant: #C7AFDE;
  --md-sys-color-outline: #A18AB7;
  --md-sys-color-outline-variant: #826D97;
  --md-sys-color-inverse-surface: #FFF7FF;
  --md-sys-color-inverse-on-surface: #423056;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #C3ACFF;
  --md-sys-color-primary: #C3ACFF;
  --md-sys-color-primary-dim: #B69BFF;
  --md-sys-color-on-primary: #350087;
  --md-sys-color-primary-container: #AC8EFF;
  --md-sys-color-on-primary-container: #1A004A;
  --md-sys-color-primary-fixed: #AC8EFF;
  --md-sys-color-primary-fixed-dim: #A07CFF;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #000000;
  --md-sys-color-inverse-primary: #622CD2;
  --md-sys-color-secondary: #D1A7FF;
  --md-sys-color-secondary-dim: #C694FF;
  --md-sys-color-on-secondary: #410576;
  --md-sys-color-secondary-container: #8E5DC4;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #E3C6FF;
  --md-sys-color-secondary-fixed-dim: #D9B5FF;
  --md-sys-color-on-secondary-fixed: #170031;
  --md-sys-color-on-secondary-fixed-variant: #4A147E;
  --md-sys-color-tertiary: #FF9BB9;
  --md-sys-color-tertiary-dim: #FF83AC;
  --md-sys-color-on-tertiary: #5D002D;
  --md-sys-color-tertiary-container: #FC81AA;
  --md-sys-color-on-tertiary-container: #43001E;
  --md-sys-color-tertiary-fixed: #FF8EB2;
  --md-sys-color-tertiary-fixed-dim: #F67CA4;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #380018;
  --md-sys-color-error: #FF9DA8;
  --md-sys-color-error-dim: #FF8695;
  --md-sys-color-on-error: #5F001C;
  --md-sys-color-error-container: #D73357;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #AC8EFF;
  --md-sys-color-control-normal: #C7AFDE;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #423056;
  --md-sys-color-text-secondary-and-tertiary-inverse: #553B72;
  --md-sys-color-text-primary-inverse-disable-only: #241338;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #241338;
  --md-sys-color-text-hint-inverse: #241338;
  --md-sys-color-widget-background: #450D7A;
  --md-sys-color-clock-hour: #CFBCFF;
  --md-sys-color-clock-minute: #E9DDFF;
  --md-sys-color-clock-second: #FFFFFF;
  --md-sys-color-weather-temp: #FFFFFF;
  --md-sys-color-theme-app: #BC8AF4;
  --md-sys-color-on-theme-app: #000000;
  --md-sys-color-theme-app-ring: #8354F4;
  --md-sys-color-theme-notif: #AD4269;
  --md-sys-color-brand-a: #D9C9FF;
  --md-sys-color-brand-b: #FFF7FF;
  --md-sys-color-brand-c: #C0A8FF;
  --md-sys-color-brand-d: #FFD9E2;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #E9DDFF;
  --md-sys-color-on-shade-active: #22005D;
  --md-sys-color-on-shade-active-variant: #5312C4;
  --md-sys-color-shade-inactive: #3A284E;
  --md-sys-color-on-shade-inactive: #D1B2F1;
  --md-sys-color-on-shade-inactive-variant: #D9BAFA;
  --md-sys-color-shade-disabled: #16052A;
  --md-sys-color-overview-background: #61477E;
}
.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #8557F6;
  --md-sys-color-secondary-palette-key-color: #9060C7;
  --md-sys-color-tertiary-palette-key-color: #C05178;
  --md-sys-color-neutral-palette-key-color: #836E99;
  --md-sys-color-neutral-variant-palette-key-color: #876BA5;
  --md-sys-color-error-palette-key-color: #DB365A;
  --md-sys-color-background: #16052A;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #16052A;
  --md-sys-color-surface-dim: #16052A;
  --md-sys-color-surface-bright: #391E58;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #1D0832;
  --md-sys-color-surface-container: #240E3B;
  --md-sys-color-surface-container-high: #2B1344;
  --md-sys-color-surface-container-highest: #32194E;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #32194E;
  --md-sys-color-on-surface-variant: #F1DFFF;
  --md-sys-color-outline: #C7AFDE;
  --md-sys-color-outline-variant: #B19BC8;
  --md-sys-color-inverse-surface: #FFF7FF;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #EBE1FF;
  --md-sys-color-primary: #EBE1FF;
  --md-sys-color-primary-dim: #DCCDFF;
  --md-sys-color-on-primary: #350087;
  --md-sys-color-primary-container: #AF92FF;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-primary-fixed: #AF92FF;
  --md-sys-color-primary-fixed-dim: #A381FF;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #000000;
  --md-sys-color-inverse-primary: #4300A6;
  --md-sys-color-secondary: #F1DFFF;
  --md-sys-color-secondary-dim: #E5CAFF;
  --md-sys-color-on-secondary: #410476;
  --md-sys-color-secondary-container: #BF8DF8;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #E3C6FF;
  --md-sys-color-secondary-fixed-dim: #D9B5FF;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #170031;
  --md-sys-color-tertiary: #FFDDE4;
  --md-sys-color-tertiary-dim: #FFC6D4;
  --md-sys-color-on-tertiary: #5D002D;
  --md-sys-color-tertiary-container: #FC81AA;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #FF8EB2;
  --md-sys-color-tertiary-fixed-dim: #F67CA4;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #FFDDDF;
  --md-sys-color-error-dim: #FFC7CB;
  --md-sys-color-on-error: #5F001C;
  --md-sys-color-error-container: #FF798C;
  --md-sys-color-on-error-container: #000000;
  --md-sys-color-control-activated: #AF92FF;
  --md-sys-color-control-normal: #F1DFFF;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #000000;
  --md-sys-color-text-secondary-and-tertiary-inverse: #553B72;
  --md-sys-color-text-primary-inverse-disable-only: #241338;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #241338;
  --md-sys-color-text-hint-inverse: #241338;
  --md-sys-color-widget-background: #450D7A;
  --md-sys-color-clock-hour: #FFFFFF;
  --md-sys-color-clock-minute: #FFFFFF;
  --md-sys-color-clock-second: #FFE6EB;
  --md-sys-color-weather-temp: #F1E8FF;
  --md-sys-color-theme-app: #BC8AF4;
  --md-sys-color-on-theme-app: #000000;
  --md-sys-color-theme-app-ring: #8354F4;
  --md-sys-color-theme-notif: #AD4269;
  --md-sys-color-brand-a: #E0D2FF;
  --md-sys-color-brand-b: #FFF7FF;
  --md-sys-color-brand-c: #D1BFFF;
  --md-sys-color-brand-d: #FFE1E7;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #E9DDFF;
  --md-sys-color-on-shade-active: #000000;
  --md-sys-color-on-shade-active-variant: #330082;
  --md-sys-color-shade-inactive: #3A284E;
  --md-sys-color-on-shade-inactive: #F6E7FF;
  --md-sys-color-on-shade-inactive-variant: #F6E7FF;
  --md-sys-color-shade-disabled: #16052A;
  --md-sys-color-overview-background: #61477E;
}
